body{
    background-image: url("../img/backgroundOne.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Lora', serif;
    font-family: 'Otomanopee One', sans-serif; 
}