@import url('https://fonts.googleapis.com/css2?family=Lora&family=Otomanopee+One&display=swap');

.title{
    color: rgb(211,211,211);
    text-shadow: 5px 5px black;
    text-align: center;
    padding: 15px;
}

#flexCheckChecked{
    height: 30px;
}
/* form in which all the input reside in. */
form{
    margin: auto;
    width: fit-content;
    padding: 20px;
}

/* Center the reminder name input, and reminder date/time input */
.reminder-input-div, .reminder-date-div, .reminder-time-div{
    text-align: center;
}

.set-occuring-btn-group{
    text-align: center;
}

.reoccuring{
    text-align: center;
}

.set-reminder-btn{
    display: grid;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(211,211,211);
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 15px;
    transition: 0.5s;
}

.set-reminder-btn:hover{
    background-color: rgb(111,111,111);
    cursor: pointer;
}

.set-reminder-btn:active{
    cursor: pointer;
    transform: translateY(5px);
}

.reminder-posted-message{
    font-size: 60px;
    text-align: center;
    color: rgb(211,211,211);
}

.select-time{
    padding: 10px;
}

.time-input{
    padding: 10px;
}

.select-days-title{
    color: rgb(211,211,211);
    padding: 10px;
}

input.form-check-input{
    height: 15px;
}

/* Actual input bar for inputting the reminder name */
#reminder-input{
    border-radius: 10px;
    font-size: 20px;
    border: 2px black solid;
}

.label{
    display: block;
    color: rgb(211,211,211);
    font-size: 25px;
}