.reminder{
    background-color: rgba(255, 255, 255, 0.5);
    width: 55vw;
    overflow-wrap: break-word;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.info-block{
    display: grid;
    grid-template-columns: 70% auto auto;
    padding: 5px;
}

.edit{
    margin-right: 10px;
    background-color: rgb(0, 225, 0);
    border-radius: 5px;
    border: 2px black solid;
    transition: 0.5s;
}

.delete{
    margin-left: 0px;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    border: 2px black solid;
    transition: 0.5s;
}

.edit:hover{
    background-color: rgb(0, 165, 0);
}

.delete:hover{
    background-color: rgb(200, 0, 0);
}

.edit:hover, .delete:hover{
    cursor: pointer;
}

.edit:active, .delete:active{
    transform: translateY(5px);
}

.reminder > div, span{
    text-align: left;
}

.reminder-name{
    font-size: 25px;
}

span{
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 900px) {
    /* After the "time" span, input a line break and move the buttons to a new line. */
    .time::after{
        content: "\a";
        white-space: pre;
    }

    /* For smaller displays, unset the grid display to enable the above line break */
    .info-block{
        display: initial;
        padding: 5px;
    }    

    .reminder{
        width: 80vw;
    }
}

/* Responsiveness for smartphones */
@media only screen and (max-width: 360px) {
     /* After the "time" span, input a line break and move the buttons to a new line. */
    .time::after{
        content: "\a";
        white-space: pre;
    }

    /* For smaller displays, unset the grid display to enable the above line break */
    .info-block{
        display: initial;
        padding: 5px;
    }    

    .reminder{
        width: 90vw;
    }
}